#edit-box {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 16px #0004;
    overflow-y: auto;
    z-index: 2;
}
#canvas {
    border: 8px solid #555753;
    image-rendering: optimizespeed;
    image-rendering: pixelated;
    background-color: #fff;
}
.button {
    transition: all 0.15s;
    background-color: #4cf;
    position: fixed;
    color: #fff;
    font-size: 48px;
    text-align: center;
    box-shadow: 0 0 16px #0004;
    user-select: none;
    -moz-user-select: none;
    z-index: 3;
}
.button:hover {
    background-color: #09f;
}
.line {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #666;
    transition: all 0.15s;
    display: grid;
}
.value-name {
    font-weight: 700;
    margin-bottom: 8px;
    user-select: none;
    -moz-user-select: none;
}
.value-box {
    background-color: #eee;
    min-height: 24px;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: auto;
    color: #000;
}
#output-line {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #666;
    transition: all 0.15s;
    display: grid;
}
#output-box {
    background-color: #eee;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: auto;
    color: #000;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 32px;
}
label, p {
    user-select: none;
    -moz-user-select: none;
}
.alert {
    background-color: #f90 !important;
}
